venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.db
*.sqlite
.DS_Store
.git/
.gitignore
.vscode/
.idea/
*.log
docker容器/
README.md
question.md
*.zip
*.rar
*.tar.gz
